<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Accounts Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!showAccountDetails">
  <app-greeting></app-greeting>
  <div
    style="flex: 1; background-color: var(--ion-color-primary); height: 100vh"
  >
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Account(s)</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list style="background-color: var(--ion-color-primary)">
      <app-account-card
        *ngFor="let account of accountsData"
        (click)="openAccountDetails( account?.accountType=='Certificate of Deposit'? 'CD '+account?.maskedAccountNumber : account?.accountType+' '+account?.maskedAccountNumber, '$'+account?.accountBalance)"
        balance="{{'$'
        +account?.accountBalance}}"
        accountName="{{ account?.accountType+' '+account?.maskedAccountNumber}}"
      ></app-account-card>
    </ion-list>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="showAccountDetails">
  <ion-header collapse="condense">
    <ion-toolbar (click)="showAccountDetails = false">
      <ion-icon
        name="chevron-back-outline"
        size="large"
        style="margin-right: 30px"
      ></ion-icon>
      <ion-title size="large" style="margin-left: 30px"
        >{{accountName}}</ion-title
      >
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">{{balance}}</ion-card-title>
      <ion-card-subtitle>Available Balance</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <ion-card-header (click)="toggleDetails()" class="header">
        <div class="header-content">
          <ion-icon
            name="chevron-down-outline"
            *ngIf="!detailsShown"
          ></ion-icon>
          <ion-icon name="chevron-up-outline" *ngIf="detailsShown"></ion-icon>
          <ion-card-subtitle>Account Details</ion-card-subtitle>
        </div>
      </ion-card-header>
      <div [@expandCollapse]="detailsShown ? 'expanded' : 'collapsed'">
        <ion-card-content class="content">
          <ion-item>
            <ion-label class="label">Account Number:</ion-label>
            <ion-label class="value" slot="end"
              >123456{{accountName?.slice(-4)}}</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label class="label">Routing Number:</ion-label>
            <ion-label class="value" slot="end">987654321</ion-label>
          </ion-item>
        </ion-card-content>
      </div>
    </ion-card>

    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let transaction of transactionData"
          class="transaction-item"
        >
          <ion-label>
            <div class="left-content">
              <p class="date">{{ transaction.date }}</p>
              <h2>{{ transaction.agent }}</h2>
            </div>
            <p class="amount">{{ transaction.amount }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-text color="Primary">
      <p class="custom-heading">Member FDIC | Equal Housing Lender</p>
    </ion-text>
  </ion-footer>
</ion-content>

<ion-footer *ngIf="!showAccountDetails">
  <ion-text color="Primary">
    <p class="custom-heading">Member FDIC | Equal Housing Lender</p>
  </ion-text>
</ion-footer>
