<ion-toolbar>
  <ion-title>Enter Recipient Details</ion-title>
</ion-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input
      label="First Name"
      labelPlacement="floating"
      formControlName="firstName"
    ></ion-input>
  </ion-item>
  <app-form-field-error
    *ngIf="
      form.get('firstName')?.hasError('required') &&
      form.get('firstName')?.touched
    "
    errorMessage=" First Name is required."
  ></app-form-field-error>
  <app-form-field-error
    *ngIf="form.get('firstName')?.errors?.['pattern'] &&
  form.get('firstName')?.touched"
    errorMessage="First Name must contain only letters, numbers, spaces or apostrophe."
  ></app-form-field-error>

  <ion-item>
    <ion-input
      label="Last Name"
      labelPlacement="floating"
      formControlName="lastName"
    ></ion-input>
  </ion-item>
  <app-form-field-error
    *ngIf="
      form.get('lastName')?.hasError('required') &&
      form.get('lastName')?.touched
    "
    errorMessage="Last Name is required."
  ></app-form-field-error>
  <app-form-field-error
    *ngIf="form.get('lastName')?.errors?.['pattern'] &&
form.get('lastName')?.touched"
    errorMessage="Last Name must contain only letters, numbers, spaces or apostrophe."
  ></app-form-field-error>

  <ion-item style="font-weight: bold">
    <ion-toggle formControlName="isEmail" (click)="toggleChanged()"
      >Is it email?</ion-toggle
    >
  </ion-item>

  <ion-item>
    <ion-input
      [label]="form.get('isEmail')?.value ? 'Email' : 'Phone'"
      labelPlacement="floating"
      formControlName="value"
    ></ion-input>
  </ion-item>

  <app-form-field-error
    *ngIf="
      form.get('value')?.hasError('required') && form.get('value')?.touched
    "
    errorMessage="{{
      form.get('isEmail')?.value ? 'Email' : 'Phone'
    }} is required."
  ></app-form-field-error>
  <app-form-field-error
    *ngIf="form.get('value')?.errors?.['pattern'] &&
form.get('value')?.touched"
    errorMessage="{{
      form.get('isEmail')?.value
        ? 'Email should be in a valid format eg. john@test.com'
        : 'Phone should be 10 digits and in a valid format eg. 1234567890'
    }}"
  ></app-form-field-error>

  <div class="ion-text-center ion-padding button-group bottom-button-group">
    <ion-button expand="block" type="submit" [disabled]="form.invalid"
      >Add Recipient</ion-button
    >
    <ion-button expand="block" (click)="onCancel()" class="cancel-button"
      >Cancel</ion-button
    >
  </div>
</form>
